mods/
resourcepacks/
saves/
.curseclient
manifest.json
minecraftinstance.json
modlist.html
llibrary/
logs/
crash-reports/
tv-cache/
structures/
knownkeys.txt
options.txt
optionsof.txt
crafttweaker.log
.ReAuth.cfg
journeymap/icon/
journeymap/journeymap.log
